.pane-ca-products-list-ca-products-category-list-1 td, 
.pane-ca-products-list-ca-products-sub-cat-list-one td {
  text-align: center;
  padding: 10px;
  width: 25%;
}


.pane-ca-products-ca-products-sub-cat-list-one {
  border-bottom: 1px solid #D2D2D2;
}

.pane-ca-products-list-ca-products-product-list-1 {
  padding-top: 10px;
}

.pane-ca-products-list-ca-products-product-list-1 .views-field-field-ca-product-image {
  float: left;
  margin-right: 10px;
}

.pane-ca-products-list-ca-products-product-list-1 .views-field-view-node {
  text-align: right;
  margin-right: 10px;
}

.pane-ca-products-list-ca-products-product-list-1 .views-field-nothing {
  border-bottom: 1px solid #D2D2D2;
  clear: both;
  margin: 0 40px 10px;
  padding-top: 10px;
}

.pane-ca-products-node-ca-products-node-1a {
  float: left;
  margin: 0;
}

.pane-ca-products-node-ca-products-node-1a .block-inner {
  margin: 0;
}

.pane-ca-products-node-ca-products-node-1a .views-field-field-ca-product-image {
  margin:0 15px 5px 0;
}

.pane-ca-products-node-ca-products-node-1b {
  clear: left;
  float: left;
  padding: 0 15px 5px 0;
  width: 200px;
}

.pane-ca-products-node-ca-products-node-1b td {
  padding: 0;
  text-align: center;
}

.pane-ca-products-node-ca-products-node-1 .views-field-field-ca-product-image-1 a {
  display: inline-block;
  padding-top: 5px;
}

.pane-ca-products-node-ca-products-node-video-1 {
  border-top: 1px solid #D2D2D2;
  clear: left;
  margin: 0 40px;
  padding: 10px;
}

.pane-ca-products-node-ca-products-node-video-1 td {
  padding: 10px;
}

.pane-ca-products-node-ca-products-node-video-1 td .content > div {
  margin: 0 auto;
}

/* Flex List */
.ca-product-flex .view-content,
.ca-product-category-node-flex .view-display-id-ca_products_sub_cat_flex_one .view-content,
.ca-product-category-node-flex .view-display-id-ca_products_product_grid .view-content,
.ca-product-category-node-flex-grid .view-display-id-ca_products_product_grid .view-content {
  display: flex;
  flex-flow: row wrap;
}

.ca-product-flex .views-row,
.ca-product-category-node-flex .view-display-id-ca_products_sub_cat_flex_one .views-row,
.ca-product-category-node-flex .view-display-id-ca_products_product_grid .views-row,
.ca-product-category-node-flex-grid .view-display-id-ca_products_product_grid .views-row {
  text-align: center;
  flex: 0 1 25%;
}


